.dashed-link {
	display: inline-block;
	color: #6581CC;
	border-bottom: 1px dashed #6581CC;
	padding-bottom: 2px;
}
.checkout-header {
	height: 135px;
	background: #F1F1FF;
	padding-bottom: 4px;
	border: none;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #BBBBC2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
		justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
			align-items: center;
}
	.checkout-header .row > div {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
			justify-content: space-around;
		-webkit-box-align: center;
		-ms-flex-align: center;
				align-items: center;
	}
	.checkout-header-steps {
		color: #858585;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
			justify-content: space-around;
		-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
		opacity: 0.75;
	}
		.checkout-header-steps:not(.active) .dashed-link {
			color: #858585;
			border-color: #858585;
			pointer-events: none;
			cursor: default !important;
		}
	.checkout-header-steps.active {
		opacity: 1;
	}
		.checkout-header-steps > div {
			padding-left: 20px;
		}
		.checkout-header-steps-number {
			font-family: NotoSerifBold;
			float: left;
			font-size: 50px;
			padding-left: 0 !important;
		}
		.checkout-header-steps-title {
			font-family: NotoSerifBold;
			font-size: 20px;
		}
		
.owl-carousel {
	padding: 0 8.33%;
}
	.owl-carousel .carousel-item {
		height: 165px;
		background: transparent;
		cursor: pointer;
		-webkit-transition: background 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
		-o-transition: background 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
		transition: background 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
		position: relative;
	}
	.owl-carousel .carousel-item .count-badge {
		opacity: 0;
		visibility: hidden;
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		-webkit-transform-origin: right top;
		-ms-transform-origin: right top;
		transform-origin: right top;
		position: absolute;
		top: 0;
		right: 0;
		width: 30px;
		height: 30px;
		color: #FFF;
		background: #6482CB;
		text-align: center;
		padding-top: 5px;
		-webkit-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
		-o-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
		transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
	}
	.owl-carousel .carousel-item.selected {
		background: #F1F1FF;
	}
	.owl-carousel .carousel-item.selected .count-badge {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}
	.owl-carousel .carousel-item .ico {
		height: 98px;
		padding-top: 17px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
				flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
				justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
				align-items: center;
	}
		.owl-carousel .carousel-item .ico svg {
			width: auto;
			max-width: 46px;
			height: 52px;
		}
		.owl-carousel .carousel-item .ico svg path {
			fill: #8C8C8C;
			-webkit-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
			-o-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
			transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
		}
		.owl-carousel .carousel-item:hover .ico svg path {
			fill: #7890D2;
		}
		.owl-carousel .carousel-item .ico svg #divan path,
		.owl-carousel .carousel-item .ico svg #divan polyline,
		.owl-carousel .carousel-item .ico svg #divan line {
			fill: none;
			stroke: #8C8C8C;
		}
		.owl-carousel .carousel-item:hover .ico svg #divan path,
		.owl-carousel .carousel-item:hover .ico svg #divan polyline,
		.owl-carousel .carousel-item:hover .ico svg #divan line {
			fill: none;
			stroke: #7890D2;
		}
	.owl-carousel .carousel-item .title {
		color: #8C8C8C;
		font-family: RobotoLight;
		text-align: center;
		-webkit-transition: color 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
		-o-transition: color 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
		transition: color 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
	}
		.owl-carousel .carousel-item .title small {
			display: block;
			font-family: RobotoLight;
			font-size: 12px;
		}
	.owl-carousel .carousel-item:hover .title {
		color: #7890D2;
	}
	.owl-nav {
		
	}
		.owl-nav > .disabled {
			display: none;
		}
		.owl-prev,
		.owl-next {
			position: absolute;
			top: calc(50% - 20px);
			left: auto;
			right: auto;
			width: 40px;
			height: 40px;
			border-radius: 20px;
			background: url('../images/owl-nav-ico.png') center center no-repeat #F1F1FF;
		}
		.owl-prev {
			left: 0;
		}
		.owl-next {
			right: 0;
			-webkit-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);
		}

.checkout-left {
	padding-right: 50px;
}
.checkout-search-form {
	background: #F8F8F8;
	border: 1px solid #D0CFFF;
	padding: 18px 35px;
	width: 100%;
	position: relative;
	margin-bottom: 25px;
}
	.checkout-search-form input {
		height: 40px;
		border-radius: 20px;
		font-size: 15px;
		border: none;
		outline: none;
	}
	.checkout-search-form input[type="text"] {
		-webkit-box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.3);
		box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.3);
		padding: 0 20px;
		padding-right: 160px;
		width: 100%;
	}
	.checkout-search-form input[type="submit"] {
		position: absolute;
		right: 35px;
		background: #D0CFFF;
		color: #FFFFFF;
		padding: 0 35px;
		cursor: pointer;
	}
.subcategories-list-header {
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: 10px;
	padding-bottom: 12px;
}
.subcategory-list:after {
	content: '';
	display: block;
	width: 100%;
	height: 0;
	clear: both;
}
.subcategory-note {
	color: #858585;
	position: relative;
	padding-right: 30%;
}
	.subcategory-note strong {
		font-family: RobotoBold;
	}
	.change-mode {
		position: absolute;
		right: 0;
		bottom: -10px;
	}
		.change-mode a {
			display: inline-block;
			width: 18px;
			height: 18px;
			margin-left: 10px;
			background: url('../images/mode-ico.png') no-repeat left top transparent;
		}
			.change-mode a.list-view {
				background-position: left top;
			}
			.change-mode a.table-view {
				background-position: left bottom;
			}
			.change-mode a.list-view:hover,
			.change-mode a.list-view.active{
				background-position: right top;
			}
			.change-mode a.table-view:hover,
			.change-mode a.table-view.active {
				background-position: right bottom;
			}
	.subcategory-item {
		width: 100%;
		margin-bottom: 10px;
		padding-bottom: 8px;
		border-bottom: 1px solid #EEEEEE;
		color: #424242;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: start;
		-ms-flex-align: start;
		        align-items: flex-start;
		-webkit-transition: width 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
		-o-transition: width 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
		transition: width 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
	}
		.subcategory-item > div {
			display: inline-block;
			vertical-align: top;
		}
		.subcategory-item > div:nth-child(1) {
			-webkit-box-ordinal-group: 2;
			-ms-flex-order: 1;
			order: 1;
		}
		.subcategory-item > div:nth-child(2) {
			-webkit-box-ordinal-group: 3;
			-ms-flex-order: 2;
			order: 2;
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			        flex-grow: 1;
		}
		.subcategory-item > div:nth-child(3) {
			-webkit-box-ordinal-group: 4;
			-ms-flex-order: 3;
			order: 3;
			-ms-flex-preferred-size: 17.6%;
			    flex-basis: 17.6%;
			position: relative;
		}
		.subcategory-item > div:nth-child(4) {
			-webkit-box-ordinal-group: 5;
			-ms-flex-order: 4;
			order: 4;
			-ms-flex-preferred-size: 18%;
			    flex-basis: 18%;
		}
		.subcategory-item .ico {
			height: 68px;
			width: 68px;
			border: 1px solid #EEEEEE;
			border-radius: 3px;
			padding: 8px;
			text-align: center;
		}
			.subcategory-item .ico img {
				width: 100%;
				max-width: 100%;
				height: auto;
				max-height: 100%;
			}
		.subcategory-item .description {
			padding-left: 15px;
		}
			.subcategory-item .description .title {
				margin-bottom: 8px;
			}
			.subcategory-item .description .controls > div {
				width: 40px;
				height: 40px;
				display: inline-block;
				vertical-align: top;
				margin-right: 10px;
				border: 1px solid #E0E0E0;
				border-radius: 4px;
				background-color: transparent;
				background-position: center center;
				background-repeat: no-repeat;
				-webkit-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
				-o-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
				transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
			}
			.subcategory-item .description .controls .wash {
				background-image: url('../images/wash-ico.svg#wash-grey');
				background-size: 20px;
			}
			.subcategory-item .description .controls .strap {
				background-image: url('../images/strap-ico.svg#strap-grey');
				background-size: 26px;
			}
			.subcategory-item .description .controls > div:hover,
			.subcategory-item .description .controls > div.active {
				background-color: #FF4081;
				border-color: #FF4081;
			}
			.subcategory-item .description .controls .wash:hover,
			.subcategory-item .description .controls .wash.active {
				background-image: url('../images/wash-ico.svg#wash-white');
			}
			.subcategory-item .description .controls .strap:hover,
			.subcategory-item .description .controls .strap.active {
				background-image: url('../images/strap-ico.svg#strap-white');
			}
		.num {
			text-align: center;
			-ms-flex-item-align: end;
			align-self: flex-end;
		}
			.num .increment,
			.num .decrement {
				position: absolute;
				top: 0;
				font-size: 15px;
				text-align: center;
				padding-top: 10px;
				width: 35px;
				height: 40px;
				cursor: pointer;
				-webkit-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
				-o-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
				transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
			.num .increment {
				right: 0;
				border-radius: 0 4px 4px 0;
			}
			.num .decrement {
				left: 0;
				border-radius: 4px 0 0 4px;
			}
			.num .increment:hover,
			.num .decrement:hover {
				background-color: #6581CC;
				color: #FFF;
			}
			.num input {
				width: 100%;
				height: 40px;
				border: 1px solid #E0E0E0;
				border-radius: 4px;
				text-align: center;
			}
		.subcategory-item .prices {
			text-align: right;
			-ms-flex-item-align: end;
			align-self: flex-end;
		}
			.subcategory-item .prices > div {
				
			}
			.subcategory-item .prices > div:after {
				font-family: PTRoubleSans, sans-serif;
				font-size: 18px;
				content: '3';
				padding-left: 3px;
			}
			.subcategory-item .prices > div {
				font-size: 18px;
			}
			.subcategory-item .prices > div.bold-price:after {
				color: #6581CC;
				font-size: 24px;
				content: '1';
			}
			.subcategory-item .prices > div.bold-price {
				display: none;
				color: #6581CC;
				font-size: 24px;
				font-family: RobotoBold;
			}
			.subcategory-item .prices > div.small-price:after {
				font-size: 14px;
				content: '3';
			}
			.subcategory-item .prices > div.small-price {
				font-size: 14px;
			}
	.subcategory-list.table-view {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: start;
		-ms-flex-align: start;
		        align-items: flex-start;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
		.table-view .subcategory-item {
			width: calc(25% - 20px);
			height: 240px;
			border: 1px solid #EEEEEE;
			margin-bottom: 20px;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			position: relative;
			padding-bottom: 0;
		}
		.table-view .subcategory-item > div:nth-child(1) {
			-webkit-box-ordinal-group: 2;
			-ms-flex-order: 1;
			order: 1;
		}
		.table-view .subcategory-item > div:nth-child(2) {
			-webkit-box-ordinal-group: 4;
			-ms-flex-order: 3;
			order: 3;
		}
		.table-view .subcategory-item > div:nth-child(3) {
			-webkit-box-ordinal-group: 5;
			-ms-flex-order: 4;
			order: 4;
		}
		.table-view .subcategory-item > div:nth-child(4) {
			-webkit-box-ordinal-group: 3;
			-ms-flex-order: 2;
			order: 2;
		}
		.table-view .subcategory-item .ico {
			border: none;
			margin: 40px auto 0;
		}
		.table-view .subcategory-item .controls {
			position: absolute;
			top: 0;
			right: 0;
		}
			.table-view .subcategory-item .description .controls > div {
				margin-right: 0;
				margin-left: 5px;
				border-radius: 0 0 4px 4px;
				border-top: none;
			}
			.table-view .subcategory-item .description .controls > div:last-child {
				border-right: none;
			}
		.table-view .subcategory-item .prices {
			height: 40px;
			-ms-flex-item-align: center;
			align-self: center;
			-ms-flex-preferred-size: auto;
			flex-basis: auto;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: baseline;
			-ms-flex-align: baseline;
					align-items: baseline;
		}
			.table-view .subcategory-item .prices > div.small-price {
				margin-right: 10px;
			}
		.table-view .subcategory-item .description {
			padding: 0;
			width: 100%;
			text-align: center;
		}
			.table-view .subcategory-item .description .title {
				height: 40px;
			}
		.table-view .num {
			width: calc(100% - 30px);
			margin: 0 auto 15px;
		}
		
.checkout-sidebar {
	background: #F8F8F8;
	padding: 35px;
}
	.checkout-options {
		padding-bottom: 25px;
		margin-bottom: 40px;
		border-bottom: 1px solid #F0F0F0;
	}
		.checkout-options input {
			display: none;
		}
		.checkout-options input + label {
			display: block;
			width: 100%;
			padding-left: 40px;
			height: 25px;
			position: relative;
			color: #424242;
			font-family: RobotoLight;
			font-size: 14px;
			line-height: 25px;
			margin-bottom: 10px;
			cursor: pointer;
		}
			.checkout-options input + label:before {
				content: '';
				position: absolute;
				left: 0;
				top: calc(50% - 12.5px);
				width: 25px;
				height: 25px;
				border: 1px solid #E0E0E0;
				border-radius: 4px;
				background: #FFF;
			}
			.checkout-options input + label:after {
				content: '';
				position: absolute;
				left: 0;
				top: calc(50% - 12.5px);
				width: 25px;
				height: 25px;
				background: url('../images/chekout-options-checkbox.png') no-repeat center center;
				opacity: 0;
				visibility: hidden;
				transform: scale(0);
				-webkit-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
				-o-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
				transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
			}
		.checkout-options input:checked + label {
			
		}
			.checkout-options input:checked + label:after {
				opacity: 1;
				visibility: visible;
				transform: scale(1);
			}
	.checkout-duration {
		padding-bottom: 30px;
		margin-bottom: 40px;
		border-bottom: 1px solid #F0F0F0;
	}
		.checkout-duration h4 {
			font-family: RobotoLight;
			font-size: 16px;
			color: #424242;
			margin-bottom: 30px;
		}
		.checkout-duration .duration-option {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
					justify-content: space-between;
			-webkit-box-align: center;
			-ms-flex-align: center;
					align-items: center;
			margin-bottom: 10px;
		}
			.checkout-duration .duration-option input {
				display: none;
			}
			.checkout-duration .duration-option input + div {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: start;
				-ms-flex-pack: start;
				        justify-content: flex-start;
			}
			.checkout-duration .duration-option input + div > label {
				display: inline-block;
				width: 75px;
				height: 60px;
				margin-right: 20px;
				border: 1px solid #E0E0E0;
				border-radius: 4px;
				font-family: RobotoBold;
				font-size: 14px;
				color: #858585;
				padding: 15px;
				line-height: 1;
				text-align: center;
				cursor: pointer;
				-webkit-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
				-o-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
				transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
			}
				.checkout-duration .duration-option input + div > label:hover {
					color: #FFF;
					border-color: #6581CC;
					background: #6581CC;
				}
				.checkout-duration .duration-option input:checked + div > label {
					color: #FFF;
					border-color: #FF4081;
					background: #FF4081;
				}
			.checkout-duration .duration-option input + div > .description {
				-webkit-box-flex: 1
				;-ms-flex-positive: 1
				;flex-grow: 1
			}
			.checkout-duration .duration-option .description {
				color: #858585;
				font-family: RobotoLight;
				font-size: 14px;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				        flex-direction: column;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				        justify-content: center;
				-webkit-box-align: start;
				-ms-flex-align: start;
				        align-items: flex-start;
			}
				.checkout-duration .duration-option .description h5 {
					color: #424242;
					font-family: RobotoBold;
					font-size: 20px;
				}
		.checkout-summary {
			text-align: center;
		}
			.checkout-summary .itogo {
				color: #424242;
				font-size: 20px;
				margin-bottom: 20px;
			}
				.checkout-summary .itogo span {
					font-family: RobotoBold;
					font-size: 20px;
				}
				.checkout-summary .itogo span:after {
					font-family: PTRoubleSans, sans-serif;
					font-size: 20px;
					content: '1';
					padding-left: 3px;
				}
			.checkout-summary .next-step-button {
				margin-bottom: 35px;
			}
				a.blue-button, a.grey-button {
					display: inline-block;
					padding: 10px 40px;
					background: #6581CC;
					border-radius: 20px;
					color: #FFF;
					font-size: 15px;
					border: none;
					outline: none;
					box-shadow: none;
				}
				a.grey-button {
					background: #EEEEEE;
					color: #858585;
				}
			.policy {
				font-family: RobotoLight;
				font-size: 14px;
				color: #858585;
			}
				.policy a {
					text-decoration: underline;
					font-family: RobotoLight;
					color: #858585;
				}
					.policy a:hover {
						color: #6581cc;
					}
.ajax-loader {
	padding: 30px 0;
}
	.ajax-loader > div {
		width: 50px;
		height: 50px;
		margin: 0 auto;
		background: url('../images/ajax-loader.png') no-repeat center center;
		-webkit-animation-name: ajax-loader-rotate;
		animation-name: ajax-loader-rotate;
		-webkit-animation-duration: 1000ms;
				animation-duration: 1000ms;
		-webkit-animation-iteration-count: infinite;
				animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
				animation-timing-function: linear;
	}
	@-webkit-keyframes ajax-loader-rotate {
		from {
			-webkit-transform:rotate(0deg);
					transform:rotate(0deg);
		}
		to {
			-webkit-transform:rotate(360deg);
					transform:rotate(360deg);
		}
	}
	@keyframes ajax-loader-rotate {
		from {
			-webkit-transform:rotate(0deg);
					transform:rotate(0deg);
		}
		to {
			-webkit-transform:rotate(360deg);
					transform:rotate(360deg);
		}
	}
	
.methods {
	margin-top: 30px;
	margin-bottom: 50px;
	background: #F8F8F8;
	padding: 40px 0;
}
	.methods .delivery,
	.methods .payment {
		padding-left: 100px;
		padding-top: 5px;
		font-size: 20px;
		color: #858585;
		font-family: NotoSerifBold;
		line-height: 1.2;
		margin-bottom: 30px;
	}
	.methods .delivery {
		background: url('../images/delivery-ico.svg') no-repeat left center;
		background-size: 76px;
	}
	.methods .payment {
		background: url('../images/payment-ico.svg') no-repeat left center;
		background-size: 65px;
	}
.trigger-buttons {
	display: inline-block;
	height: 40px;
	box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.3);
	border-radius: 20px;
	background: #FFF;
	margin-bottom: 20px;
}
	.trigger-buttons button {
		padding: 0 20px;
		height: 40px;
		border-radius: 20px;
		background: transparent;
		border: none;
		outline: none;
		box-shadow: none;
		cursor: pointer;
		font-size: 15px;
		text-transform: uppercase;
		color: #858585;
		letter-spacing: 1.2px;
		-webkit-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
		-o-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
		transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
	}
		.trigger-buttons button.active {
			background: #6581CC;
			color: #FFF;
		}
.methods-buttons {
	height: 50px;
	margin-bottom: 50px;
}
	.methods-buttons > div:first-child {
		text-align: left;
	}
	.methods-buttons > div:last-child {
		text-align: right;
	}
.methods .courier {
	opacity: 0;
	height: 0;
	visibility: hidden;
	-webkit-transform: scaleY(0);
	-ms-transform: scaleY(0);
	        transform: scaleY(0);
	-webkit-transform-origin: center top;
	-ms-transform-origin: center top;
	        transform-origin: center top;
	-webkit-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
	-o-transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
	transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
	
	border-top: 1px solid #E0E0E0;
}
.methods .courier.visible {
	opacity: 1;
	height: auto;
	visibility: visible;
	transform: scaleY(1);
}

.unlimited-header {
	text-align: center;
	padding-top: 46px;
}
	.unlimited-header img {
		width: 94px;
		height: auto;
		margin-bottom: 16px;
	}
	.unlimited-header > div {
		color: #424242;
	}
	.unlimited-header .num {
		display: inline-block;
		width: 145px;
		position: relative;
		margin: 0 20px;
		margin-bottom: 30px;
	}
.unlimited-body {
	margin-bottom: 25px;
}
	.unlimited-body .checkout-sidebar {
		padding: 50px;
	}
	.unlimited-body .checkout-duration,
	.unlimited-body .checkout-options,
	.unlimited-body .checkout-summary {
		padding: 0;
		margin: 0;
		border: none;
	}
	.unlimited-body .checkout-options {
		margin-bottom: 145px;
	}
		.unlimited-body .checkout-summary .itogo {
			margin-bottom: 0;
		}
		.unlimited-body .checkout-summary .itogo span {
			color: #FF4081;
		}
		.unlimited-body .checkout-summary .poditogo,
		.unlimited-body .checkout-summary .poditogo span {
			font-size: 14px;
			font-family: RobotoLight;
			color: #424242;
		}
		.unlimited-body .checkout-summary .poditogo span:after {
			content: '3';
			font-family: PTRoubleSans, sans-serif;
			font-size: 14px;
			padding-left: 3px;
		}
.unlimited-button {
	text-align: center;
	margin-bottom: 50px;
}
	.unlimited-button .policy {
		margin-bottom: 25px;
	}
		.unlimited-button .policy span {
			display: inline-block;
			width: 20px;
			height: 20px;
			margin-right: 12px;
			background: url('../images/info-ico.png') no-repeat center center;
			vertical-align: middle;
		}
		
		
		
		
		
		
		
		
/* Адаптив */
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.checkout-header-steps-number {
		font-size: 40px;
	}
	.checkout-header-steps-title {
		font-size: 16px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.checkout-header .row > div {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.checkout-header-steps {
		width: 100%;
		padding: 0 30px;
	}
	.checkout-header-steps > div:nth-child(2) {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
	}
	.checkout-header-steps-number {
		font-size: 40px;
	}
	.checkout-header-steps-title {
		font-size: 16px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}